snippet ld
	::sdo::loom::ldebug("${1}");
	${2}

snippet li
	::sdo::loom::linfo("${1}");
	${2}

snippet lw
	::sdo::loom::lwarn("${1}");
	${2}

snippet le
	::sdo::loom::lerror("${1}");
	${2}

snippet lc
	::sdo::loom::lcrit("${1}");
	${2}

